{{>nav index=true}} 
<div id="wrapper">
  <div id="articles">
  {{#if dbArticle}}
    {{#each dbArticle}}
    <div class="card" style="width: 18rem;">
        <img src="{{imageUrl}}" class="card-img-top" alt="pictures">
        <div class="card-body">
            <h5 class="card-title">{{headline}}</h5>
            <p class="card-text">{{summary}}</p>
            <button class="saved btn btn-primary" data-id="{{id}} "data-headline="{{headline}}" data-img="{{img}}" data-summary="{{summary}}" data-url="{{url}}" data-note="{{note}}" data-saved="{{saved}}">SAVE ARTICLE</button>
            <a href="{{url}}" target="_blank"><button class="btn btn-primary">GO TO SITE</button></a>
        </div>
    </div>
    {{/each}}
  {{/if}}
   {{#unless dbArticle}}
   <h4>Please, press "SCRAPE NEW ARTICLES" button to see articles</h4>
   {{/unless}}
  </div>
</div>