<div id="wrapper">
  <div id="articles">
  {{#if dbArticle}}
  여기1
    {{#each dbArticle}}
    <img src="{{imageUrl}}">
    <h2>{{headline}}</h2> 
    <p>{{summary}}</p><button class="saved" data-id="{{id}} "data-headline="{{headline}}" data-img="{{img}}" data-summary="{{summary}}" data-url="{{url}}" data-note="{{note}}" data-saved="{{saved}}">SAVE ARTICLE</button>
    {{/each}}
  {{/if}}
   {{#unless dbArticle}}
   여기2
   {{/unless}}
  </div>
</div>

<script>
$(function() {
    $(".saved").on("click", function(){
        var thisId = $(this).data("id");
        var saved = $(this).data("saved");
        if (saved==="true") {
            $(this).attr("data-saved","false");
            saved="false";
        } else {
            $(this).attr("data-saved","true");
            saved="true";
        }
        $.ajax({
            method: "PUT",
            url: "/saved/" + thisId,
            data: {saved:saved}
        }).then(function(dbArticle) {
            location.assign("/");
        });
    });
});
</script>