{{>nav save=true}} 
<div id="wrapper">
    <div id="saves">
    {{#if dbArticle}}
        {{#each dbArticle}}
            <div class="card" style="width: 18rem;">
                <img src="{{imageUrl}}" class="card-img-top" alt="pictures">
                <div class="card-body">
                    <h5 class="card-title">{{headline}}</h5>
                    <p class="card-text">{{summary}}</p>
                    <button class="delete btn btn-primary" data-id="{{id}}">DELETE FROM SAVED</button>
                    <button class="notes btn btn-primary" data-id="{{id}}" data-title="{{notes.title}}" data-body="{{notes.body}}">ARTICLE NOTES</button>
                    <a href="{{url}}" target="_blank"><button class="btn btn-primary">GO TO SITE</button></a>
                </div>
            </div>
        {{/each}}
    {{/if}}
    {{#unless dbArticle}}
        There are no articles saved.
    {{/unless}}
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">title:<input type="text" id="note" name="title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <textarea type="text" style="width:100%" id="body" name="body"></textarea> 
        </div>
        <input id="hidden" type="hidden" name="id">
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="submit" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
</div>

<script>
$(function(){
    $("#submit").on("click", function(){
        $.ajax({
            method: "POST",
            url: "/note",
            data: {
                id:$("#hidden").val(),
                title:$("#note").val(),
                body:$("#body").val()
            }
        }).then(function(dbArticle) {
            location.assign("/saved");
        });
    });

    $(".notes").on("click", function(){
        var thisId = $(this).data("id");
        var noteTitle= $(this).data("title");
        var noteBody= $(this).data("body");
        $("#hidden").val(thisId);
        $("#note").val(noteTitle);
        $("#body").val(noteBody);
        //$("form").show();
        $("#exampleModal").modal("show");
    });

    $(".delete").on("click",function(){
        var thisId = $(this).data("id");
        $.ajax({
            method: "PUT",
            url: "/deleted/" + thisId
        }).then(function(dbArticle){
            location.assign("/saved");
        });
    })
});
</script>
